extends ./layout.jade

block content
  .container
    .jumbotron.text-center
      h1 Real Time &amp; Offline First
      p reliable real time data sync and offline storage with excellent security
    h2 Simple Key Value JSON
    p.
      BicycleJS presents a simple key value API for JSON blobs.
    h2 Data Sync
    p.
      When you update data in BicycleJS, all your apps update instantly on every device.
    p.
      Applications built with BicycleJS also work seamlessly offline. Data is automatically
      synchronised when the connection is recovered.  You can even write your own custom
      code for conflict resolution, or just go with the default of last write wins.
    h2 Data Security
    p.
      Nothing can be edited without your permission.  BicycleJS lets you add custom rules to your database that
      determine what each user can read and update.
